certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
idna==3.10
numpy==2.3.1
packaging==25.0
PyAudio==0.2.14
pybullet==3.2.7
pycparser==2.22
requests==2.32.4
sounddevice==0.5.2
SpeechRecognition==3.14.3
tqdm==4.67.1
trimesh==4.7.1
urllib3==2.5.0
